<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a target="_blank">
                <img src="./assets/bar-chart-rise.svg" alt="logo">
                <h1>ZestfuYoghurt</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="height:950px;">
            <li nz-submenu nzOpen nzTitle="管理" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="welcome">员工管理</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="操作" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="addstaff">员工添加</a>
                    </li>
                </ul>
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a>退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div style="height:10px;background:red;"></div>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content" style="height:850px;width: 1350px;">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>