<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zestfulYoghurt.zy.mappers.userMapper">
    <select id="select" parameterType="map" resultType="com.zestfulYoghurt.zy.pojos.user">
        select * from user where name = #{username}
    </select>

    <insert id="insert" parameterType="map">
        insert into user values (null,#{username},#{password},#{salt},null)
    </insert>
</mapper>